*{
   /* border: 1px solid red;*/
}

.container{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
}
@media (min-width: 768px){
    .navbar {
        border-radius: 0px;

    }
    .container-fluid{
        margin: 0 auto;
        width: 50%;

        
    }
    .nav{
        margin-right: 30px;
        
    }
}
.navbar-default .navbar-nav>li>a {
    display: inline;

}
.navbar-default .navbar-nav>li>a:hover {
    color:#fad6a5; 
    text-decoration: none;  
    cursor: pointer;
}


.navbar-default .navbar-nav>li {
    height: 40px;
    line-height: 40px;
    margin-top: 2px;
    vertical-align: middle;
    


}

.main-body-container{

    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    margin-top: -21px;
    height: 100%;
    /* The image used */
/*    background-image: url('https://images.unsplash.com/photo-1529432337323-223e988a90fb?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=liliana-pereira-708261-unsplash.jpg&s=6d5c8bfe7321372af3869922629d026e,');
*/
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width:100%;
    background-color: #000000;
    border-top: 1px solid #333;
    font-weight: 700;
    text-transform: uppercase;
    min-height: 40px;
    letter-spacing: .2em;
    font-size: 11px;



/*    position:fixed;
    top:0px;*/

}
.carousel{
    margin: 0 auto;
    width: 90%;
    height: 500px;
    background-color: #000000;
    opacity: .9;
    top:50px;
    border-bottom: 1px solid #333;


}
.socialIcons{
    float:left;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-left: -310px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 12px;
    margin-top: 3px;


    display: inline-block;
}
.socialIcons a{
    padding-right: 25px;
}
a {color:#FFFFFF;}      /* unvisited link */
a:visited {color:#FFFFFF;}  /* visited link */
a:hover {color:#fad6a5; text-decoration: none;  cursor: pointer;}  /* mouse over link */
a:active {color:#fad6a5;}  /* selected link */

.login{
    float:right;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-right: -840px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 10px;
    margin-top: 3px;
    t


    display: inline-block;
}
.lastestMusic{
    margin: 0 auto;
    width: 90%;
    height: 600px;
    background-color: #000000;
    opacity: .9;
    margin-top: 50px;
    margin-bottom: 100px;
}
.landpage-header{
    color:#ffffff;
    background-color: #000000;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 35px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}
.landpage-header img{
    margin-top: -60px;
}
.sectionHeader{
    color:#ffffff;
    width: 100%;
    font-size: 24px;
    letter-spacing: .2em;
    text-transform: uppercase;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid #fad6a5;
    font-weight: 700;
}
.playerContainer{
    margin-left: 55px;
    margin-top: 65px;
}
.lastestMusicText{
    float: right;
    margin-right: 50px;
    display: inline-block;
    width: 350px;
    margin-top: -385px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    color: #ccc;
    -webkit-font-smoothing: antialiased;

}
footer{
    
    background-color: #000000;
    color:#ffffff;
    height: 50px;
    opacity: 1;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}
