.container{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
@media (min-width: 768px){
    .navbar {
        border-radius: 0px; 
    }
}

